<!DOCTYPE html>
<html>
<head>
    <title>Map Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-geo-assets/geojson.js"></script>
    <style>
        h1 {
        text-align: center;
        margin-top: 60px;
        color: #233;
        font-size: 50px;
        }

        .a{
        align-items: center;
        }
    </style>
</head>
<body>
    <div class="a">
        <h1>Zameen.com</h1>
        {{ map|safe }}
    </div>
</body>
</html>
